form {
    /* margin-top: 5%; */
    background-color: #fff;
}

.tb {
    display: grid;
    width: 100%;
    text-align: center;
    padding-left: 3% !important;
    padding-right: 5% !important;
}

.table {
    max-height: 400px;
    margin: 1.813rem;
    background-color: #F6F6F6;
}

.table th {
    height: 3rem;
    background-color: #BB353F;
    color: #fff;
    /* padding: 2%; */
    text-align: center;
    padding-left: 10px;
    font-weight: bold;
    font-size: medium;
    text-align: center; 
    vertical-align: middle;
}

.table tr td {
    border: 1px solid #D6D6D6;
    border-collapse: collapse;
    /* padding: 2%; */
    color: #000000;
    line-height: 21px;
}

table tr:hover {
    background-color: #f1f1f1;
    color: #000;
    /* font-weight: bold; */
    cursor: pointer;
}

table tr .name {
    width: 10%;
    text-align: left;
    /* background-color: azure; */
    padding: 2%;
}

table td:nth-child(1) {
    text-align: left;
    /* padding-left: 14px; */
}

table tr .tt {
    /* background-color: bisque; */
    width: 15%;
    text-align: center;
}

table tr .time {
    width: 250px;
    text-align: center;
}

table tr .tbdate {
    width: 10%;
    /* background-color: brown; */
}

table tr .sl {
    width: 10%;
    text-align: right;
    /* background-color: brown; */
}

table tr td:nth-child(5) {
    text-align: right;
}

table tr .money {
    width: 10%;
    /* background-color: brown; */
}

table tr td:nth-child(6) {
    text-align: center;
}

table tr .option {
    width: 10%;
    /* background-color: brown; */
}