.btn-left {
    width: 22.875rem;
    height: 2.25rem;
    border: none;
    outline: none;
    margin-right: 20px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    background-color: #bd434b;
}

.btn-left:hover {
    background-color: #bd1b25;
}

.btn-left p {
    font-size: 0.875rem;
    line-height: 2.2rem;
    color: white;
}

.btn-right p {
    font-size: 0.875rem;
    line-height: 2.2rem;
    color: white;
}

.btn-right {
    width: 22.875rem;
    height: 2.25rem;
    border: none;
    outline: none;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    background-color: #fdb652;
}

.btn-right:hover {
    background-color: #fca730;
}

.title-main-conten {
    width: 95%;
    height: 80px;
    border-bottom: 1px solid #158F2A;
}

.title-main-conten p {
    font-size: 1.125rem;
    font-weight: 700;
    padding: 50px 3%;
}

.title-main-item {
    width: 100%;
    height: 80px;
    margin-left: -5%;
}

.title-main-item p {
    font-size: 1rem;
    font-weight: 700;
    padding: 30px 4%;
}

.title-main-item:before {
    content: "";
    width: 5px;
    height: 21px;
    margin-top: 2.1%;
    margin-left: 2%;
    background: #158F2A;
    position: absolute;
}

.nhan {
    float: right;
    width: 45px;
    height: 22px;
    font-size: 12px;
    /* margin-right: -15px; */
    text-align: center;
    color: white;
    line-height: 20px;
    background-color: #D52922;
}


/* ::-webkit-calendar-picker-indicator {
    background-image: url(./image/date.svg);
    padding-right: -20px;
    background-color: #D4D4D4;
    padding: 10px;
    width: 20px;
    height: 17px;
    margin-top: 0.5px;
    margin-left: 11.1%;
    border-radius: 2px;
    text-align: center;
    position: absolute;
    cursor: pointer;
} */

.form-group {
    width: 96%;
    height: auto;
    /* background: yellowgreen; */
    display: flex;
}


/* .chinhqw {
    width: 33%;
    display: flex;
} */

.row-conten {
    display: flex;
    flex-wrap: wrap;
    margin-left: 8%;
    height: auto;
}

.edit-padding {
    margin-left: 20px;
    display: flex;
    flex-wrap: nowrap;
}

.edit-padding p {
    padding-left: 15px;
    color: #7a7a7a;
}

.edit-padding1 {
    display: table;
    margin-left: 20px;
}

.edit-padding1 p {
    float: left;
    padding-left: 15px;
    color: #7a7a7a;
}

.coll-md-3 {
    flex: 0 0 auto;
    width: 25%;
    margin-top: 25px;
    height: 45px;
    padding-top: 8px;
}

.coll-md-8 {
    margin-top: 25px;
    flex: 0 0 auto;
    width: 72.66666667%;
}

.coll-md-8 input[type=radio] {
    margin-left: 1.625rem;
    margin-top: 0.813rem;
}

.colll-md-8 {
    flex: 0 0 auto;
    width: 52.66666667%;
    margin-top: 3px;
}

.form-label {
    width: 169px;
    font-size: 1rem;
    font-weight: 700;
}

.edit-center {
    margin-top: -13px;
}

.or {
    width: 3.125rem;
    text-align: center;
    padding-top: 0.313rem;
}

.phantram {
    margin-top: 10px;
    margin-left: 0.5rem;
}

.form-both {
    width: 25.688rem;
    height: 3.2rem;
    background-color: none;
    float: left;
    margin-top: 20px;
    margin-left: 7px;
    border-radius: 3px;
    border: 1px solid #aaa;
}

.form-both1 {
    width: 25.688rem;
    height: 3.2rem;
    background-color: none;
    float: left;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #aaa;
}

.center25 {
    padding: 20px;
    margin-left: 5%;
    font-size: 0.688rem;
    color: #666666;
    position: relative;
}

.center26 {
    margin-left: 30%;
    margin-top: 22px;
    font-size: 0.688rem;
    color: #666666;
    position: absolute;
}

.file-text {
    width: 8.688rem;
    height: 2.438rem;
    font-size: 0.688rem;
    line-height: 2.4rem;
    padding-left: 15%;
    color: #666666;
    cursor: pointer;
}

.button-submit {
    width: 343px;
    height: 48px;
    background-color: #BB353F;
    text-align: center;
    line-height: 45px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 20px;
}

.bt-save {
    border: none;
    color: #fff;
    background: none;
    width: 343px;
}

.bt-save:hover {
    background-color: #b4111c;
}

.bt-save:focus {
    border-color: #b9020f;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #ce2f39;
}

.pluralBtn {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
    padding: 0;
    margin-top: 2.3%;
    position: absolute;
}

.add {
    margin-left: 6.5%;
    margin-top: -0.5%;
}

.del {
    margin-left: 6.5%;
    margin-top: 1.7%;
}


/*  */

::-webkit-file-upload-button {
    border: none;
    height: 49px;
    cursor: pointer;
}


/* pop up */

.pop-up {
    width: 800px;
    height: 266px;
    border: 1px solid rgb(255, 255, 255);
    top: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background: rgb(247, 247, 247);
    z-index: 99;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pop-up.show {
    top: 25%;
    transition: 0.2s;
}

.pop-up img {
    float: right;
    padding: 10px;
    cursor: pointer;
}

.title-popup {
    width: 80%;
    height: 100px;
    position: relative;
    margin-top: 10%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.title-popup p {
    font-family: hira;
    font-weight: 700;
    font-size: 1.125rem;
    text-align: center;
    line-height: 100px;
}

.close-popup {
    width: 12.188rem;
    height: 2.5rem;
    background: #BB353F;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: -5%;
    margin-left: 50%;
    transform: translate(-50%, -100%);
}

.close-popup p {
    font-family: hira;
    color: seashell;
    font-weight: 400;
    font-size: 1.125rem;
    text-align: center;
    line-height: 2.5rem;
}


/* popup yes no */

.nav_overlayYN {
    position: fixed;
    top: -60%;
    transform: translateY(-100%);
    right: 0;
    bottom: 0;
    left: 0%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: 0.2s;
}

.nav_overlayYN.show {
    z-index: 88;
    transform: translateY(30%);
    opacity: 1;
    transition: 0.2s;
}

.pop-upYN {
    width: 800px;
    height: 266px;
    border: 1px solid rgb(255, 255, 255);
    left: 50%;
    transform: translate(-50%, 50%);
    position: fixed;
    background: rgb(247, 247, 247);
    z-index: 99;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.pop-upYN img {
    float: right;
    padding: 10px;
    cursor: pointer;
}

.title-popupYN {
    width: 80%;
    height: 100px;
    position: relative;
    margin-top: 10%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.title-popupYN p {
    font-family: hira;
    font-weight: 700;
    font-size: 1.125rem;
    text-align: center;
    line-height: 100px;
}

.btn_popup {
    display: flex;
    width: 72px;
    /* height: 21px; */
    margin-left: 31%;
}

.yes {
    width: 12.188rem;
    height: 2.5rem;
    background: #BB353F;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: -5%;
    margin-left: 50%;
    transform: translate(-50%, -100%);
}

.yes p {
    font-family: hira;
    color: seashell;
    font-weight: 400;
    width: 12.188rem;
    height: 2.5rem;
    font-size: 1.125rem;
    text-align: center;
    line-height: 2.5rem;
}

.cancel {
    width: 12.188rem;
    height: 2.5rem;
    background: #F0F0F0;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: -5%;
    margin-left: 50%;
    transform: translate(-50%, -100%);
}

.cancel p {
    font-family: hira;
    color: #605F5F;
    font-weight: 400;
    width: 12.188rem;
    height: 2.5rem;
    font-size: 1.125rem;
    text-align: center;
    line-height: 2.5rem;
}


/* form */

.option {
    width: 100%;
    height: 100px;
    position: absolute;
}

.option-left {
    width: 7.875rem;
    height: 2.25rem;
    background: #BB353F;
    color: #fff;
    font-weight: 700;
    position: absolute;
    right: 34%;
    margin-top: 2%;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
    line-height: 36px;
}

.option-right {
    width: 7.875rem;
    height: 2.25rem;
    background: #FFB244;
    color: #fff;
    font-weight: 700;
    position: absolute;
    right: 24%;
    margin-top: 2%;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
    line-height: 36px;
}

form .text-binding {
    font-size: 16px !important;
    padding-top: 8px;
}