@charset "utf-8";

/* --------------------------------
	forms common
-------------------------------- */
/* ------ mv ------ */
.mv .lead {
	margin-top: 2.5rem;
	padding: 0 2rem;
	color: #333;
	text-align: center;
}

.mv .pageTtl::before {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -9.5rem;
	width: 19rem;
	height: 0.1rem;
	border-bottom: 0.1rem solid #BB353F;
}

/* status */
.mv .status {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin: 6rem auto 0;
	width: 100rem;
}

.mv .status::before {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 3rem;
	height: 0.1rem;
	background-color: #E5E5E5;
	z-index: 1;
}

.mv .status > li {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 10rem;
	z-index: 2;
}

.mv .status > li > div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 6rem;
	height: 6rem;
	background-color: #F0F0F0;
	border-radius: 50%;
}

.mv .status > li > div svg {
	fill: #333;
	stroke: #333;
}

.mv .status > li.status1 > div svg {
	width: 2.4rem;
}

.mv .status > li.status2 > div svg {
	width: 3.2rem;
}

.mv .status > li.status3 > div svg {
	width: 2.3rem;
}

.mv .status > li.status4 > div svg {
	width: 2.8rem;
}

.mv .status > li > .txt {
	margin-top: 1rem;
	color: #898989;
	font-size: 1.4rem;
	text-align: center;
}

@media (min-width: 769px) {
	.mv .status::before {
		margin-left: -46rem;
		width: 92rem;
	}
}

@media (max-width: 768px) {
	.mv .status {
		margin: 2rem auto 0;
		width: 100%;
	}

	.mv .status::before {
		top: 2rem;
		margin-left: -16rem;
		width: 32rem;
	}

	.mv .status > li > div {
		width: 4rem;
		height: 4rem;
	}

	.mv .status > li.status1 > div svg {
		width: 1.4rem;
	}

	.mv .status > li.status2 > div svg {
		width: 1.8rem;
	}

	.mv .status > li.status3 > div svg {
		width: 1.4rem;
	}

	.mv .status > li.status4 > div svg {
		width: 1.7rem;
	}
}

/* ------ comp ------ */
/* compTtl */
.compTtl {
	margin: 10rem 0 6rem;
	color: #BB353F;
	font-size: 2.4rem;
	text-align: center;
}

/* compMessage */
.compMessage > p {
	font-size: 1.6rem;
	color: #333;
	text-align: center;
}

.compMessage > p + p {
	margin-top: 3rem;
}

@media (max-width: 768px) {
	.compTtl {
		margin: 6rem 0 4rem;
		color: #BB353F;
		font-size: 2rem;
	}
	
}

/* ------ form ------ */
form {
	margin: auto;
	margin-top: 13rem;
	width: 100rem;
}

form .redTxt {
	color: #F94C4A;
	font-size: 1.4rem;
	font-weight: 600;
}

form dl {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

form dl + dl {
	margin-top: 2.5rem;
}

form dl dt {
	width: 29.5rem;
}

form dl dt > label {
	display: flex;
	align-items: center;
	font-weight: 600;
	line-height: 1.5;
}

form dl dt .badge {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 6.5rem;
	height: 2.4rem;
	color: #fff;
	background-color: #F94C4A;
	font-weight: 600;
	line-height: 1;
	border-radius: .5rem;
}

form dl dd {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 68.5rem;
	font-size: 1.4rem;
}

form dl dd > * {
	margin: auto;
	width: 100%;
}

@media (min-width: 769px) {
	form dl dt > label {
		justify-content: space-between;
	}

	form dl dd {
		min-height: 5rem;
	}
}

@media (max-width: 768px) {
	form {
		margin-top: 8rem;
		padding: 0 2rem;
		width: 100%;
	}

	form dl {
		flex-direction: column;
		align-items: flex-start;
	}

	form dl {
		margin-bottom: 1.6rem;
		padding-bottom: 2rem;
		border-bottom: .1rem solid #E5E5E5;
	}

	form dl dt > label .badge {
		margin-left: 1.5rem;
	}

	form dl dd {
		margin-top: 1.5rem;
		width: 100%;
	}
}

/* formRadio */
form .formRadio {
	padding-left: 1.5rem;
}

form .formRadio > p > input {
  display: none;
}

form .formRadio > p > input + label {
	display: inline-block;
  padding-left: 2.3rem;
  position:relative;
  margin-right: 1.5rem;
}

form .formRadio > p > input + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
	margin-top: -.7rem;
  width: 1.4rem;
  height: 1.4rem;
  border: .1rem solid #999;
  border-radius: 50%;
}

form .formRadio > p > input:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
	margin-top: -.4rem;
	margin-left: .3rem;
  width: .8rem;
  height: .8rem;
  background: #000;
  border-radius: 50%;
}

form .formRadio .note {
	color: #605F5F;
}
@media (max-width: 768px) {
	form .formRadio > p > input + label:last-of-type {
		margin-right: 0;
	}
}

/* formControl */
form dl .formControl input,
form dl .formControl textarea,
form dl .formControl select {
	display: block;
	padding: 1.2rem 2.4rem;
	width: 100%;
	min-height: 5rem;
	background-color: #fff;
	background-clip: padding-box;
	line-height: 1.5;
	border: .1rem solid #878783;
	border-radius: 0.3rem;
}

form dl .formControl select {
	color: #7B7B7B;
}

form dl .formControl .formRadio {
	padding: 2.5rem 0;
	padding-left: 0;
	color: #000;
	font-weight: 600;
}

form dl .formControl .formRadio > p > span {
	margin-right: 4rem;
}

form dl .formControl .formRadio > p > input + label {
	font-weight: 300;
}

form dl .formControl .formRadio > p > input {
	display: none;
}

form dl .formControl .note {
	color: #605F5F;
}

@media (max-width: 768px) {
	form dl .formControl input,
	form dl .formControl textarea,
	form dl .formControl select {
		padding: 1rem;
		min-height: unset;
	}

	form dl .formControl .formRadio > p > span {
		margin-right: 3rem;
	}
}

/* style2 */
form dl .formControl.style2 > p {
	display: flex;
}

form dl .formControl.style2 input,
form dl .formControl.style2 textarea,
form dl .formControl.style2 select {
	width: 15rem;
}

form dl .formControl.style2 input + *,
form dl .formControl.style2 textarea + *,
form dl .formControl.style2 select + * {
	margin-left: 1.5rem;
}

/* style3 */
form dl .formControl.style3 > p {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	color: #000;
	font-weight: 600;
}

form dl .formControl.style3 > p + p {
	margin-top: 1.5rem;
}

form dl .formControl.style3 input,
form dl .formControl.style3 textarea,
form dl .formControl.style3 select {
	width: 58rem;
}

@media (max-width: 768px) {
	form dl .formControl.style3 input,
	form dl .formControl.style3 textarea,
	form dl .formControl.style3 select {
		width: 26rem;
	}
}

/* formCheck */
form dl .formCheck > p {
	display: flex;
	align-items: center;
	height:5rem;
}

form dl .formCheck > p > label {
	display: inline-block;
	position: relative;
	padding-left: 4rem;
	width: auto;
	cursor: auto;
}

form dl .formCheck > p > label::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 1.8rem;
	height: 1.8rem;
	background: #fff;
	margin-top: -.9rem;
	border: .1rem solid #878783;
	border-radius: .3rem;
}

form dl .formCheck > p > label::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -0.65rem;
	margin-left: 0.6rem;
	width: .6rem;
	height: 1rem;
	border-right: .2rem solid #BB353F;
	border-bottom: .2rem solid #BB353F;
	transform: rotate(45deg);
	opacity: 0;
}

form dl .formCheck > p > input[type=checkbox]:checked + .checkbox01::after {
	opacity: 1;
}

form dl .formCheck .note {
	margin-top: .4rem;
	font-weight: 600;
	text-indent: 4rem;
}
form dl .formCheck .note2 {
	margin-top: .4rem;
	font-weight: 100;
	text-indent: 3rem;
}

/* hasNote */
form .hasNote {
	align-items: flex-start;
}

form .hasNote + dl {
	margin-top: 1rem;
}

form .hasNote dt {
	margin-top: calc((5rem - 2em) / 2);
}

form .hasNote dd.formCheck {
	margin-top: calc((5rem - 2.3em) / 2);
}

form .hasNote .note {
	display: block;
	margin: .8rem;
}

form .hasNote .note.fsS {
	font-size: 1.2rem;
}

form .hasNote .formCheck > p {
	height: auto;
	min-height: 1em;
}

form .hasNote.style2 + dl {
	margin-top: 3.5rem;
}

@media (max-width: 768px) {
	form .hasNote.style2 + dl {
		margin-top: 0;
	}
}

/* notice */
form .notice {
	margin-top: 3.4rem;
	padding: 2rem 4.5rem;
	color: #605F5F;
	background-color: #F0F0F0;
	font-size: 1.4rem;
	border-radius: .5rem;
}

form .notice > p {
	display: block;
	text-indent: 1em;
}

/* btn */
form .btn {
	margin-top: 6rem;
}

@media (max-width: 768px) {
	form .hasNote .note {
		font-size: 1.1rem;
	}

	form dl .formCheck .note {
		text-indent: 0;
		padding-left: 3.3em;
	}
	form dl .formCheck .note2 {
		text-indent: 0;
		font-weight: 100;
		padding-left: 3.5em;
	}


	/* notice */
	form .notice {
		margin-top: 2.2rem;
		padding: 2rem 1.5rem;
	}

	/* btn */
	form .btn {
		margin-top: 4rem;
	}
}


/* --------------------------------
	RG10
-------------------------------- */
main.RG10 .mv .status > li.status1 .icon {
	background-color: #BB353F;
}

main.RG10 .mv .status > li.status1 .icon svg {
	fill: #fff;
	stroke: #fff;
}

main.RG10 .mv .status > li.status1 .txt {
	color: #333;
}

main.RG10 .formCheck p .inpCover {
	display: block;
	position: absolute;
	width: 2rem;
	height: 2rem;
	z-index: 2;
}

main.RG10 .alert .box .singleButton.close {
	margin-top: 3rem;
	width: 19.5rem;
	height: 4rem;
	border-radius: .5rem;
	background: #878783;
	color: #fff;
	font-size: 1.8rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	line-height: 1;
	border: none;
}


/* --------------------------------
	RG11
-------------------------------- */
main.RG11 .mv .status > li.status2 .icon {
	background-color: #BB353F;
}

main.RG11 .mv .status > li.status2 .icon svg {
	fill: #fff;
	stroke: #fff;
}

main.RG11 .mv .status > li.status2 .txt {
	color: #333;
}

main.RG11 .inner {
	padding: 0 2rem;
}

main.RG11 form dl {
	font-size: 1.4rem;
}


/* --------------------------------
	RG20
-------------------------------- */
main.RG20 .mv .status > li.status3 .icon {
	background-color: #BB353F;
}

main.RG20 .mv .status > li.status3 .icon svg {
	fill: #fff;
	stroke: #fff;
}

main.RG20 .mv .status > li.status3 .txt {
	color: #333;
}


/* --------------------------------
	RG21
-------------------------------- */
main.RG21 .mv .status > li.status3 .icon {
	background-color: #BB353F;
}

main.RG21 .mv .status > li.status3 .icon svg {
	fill: #fff;
	stroke: #fff;
}

main.RG21 .mv .status > li.status3 .txt {
	color: #333;
}

main.RG21 form dl {
	align-items: flex-start;
}

main.RG21 form dl dt {
	margin-top: 1.5;
	width: 30rem;
}

main.RG21 form dl dt > label {
	font-size: 1.8rem;
}

main.RG21 form dl dt {
	padding-right: 6rem;
}

main.RG21 form dl dd > * {
	margin: 0;
}

main.RG21 form dl dd p span {
	display: inline-block;
	min-width: 2em;
	font-weight: 300;
}

main.RG21 form dl dd p span + span {
	margin-left: 1.5rem;
}

main.RG21 form dl dd.hasHead p > span:first-of-type {
	padding-right: 2rem;
	width: 15rem;
	font-weight: 600;
}

@media (min-width: 769px) {
	main.RG21 form dl dd p {
		min-height: 4rem;
	}
}

@media (max-width: 768px) {
	main.RG21 form dl dd.hasHead p + p {
		margin-top: 1rem;
	}

	main.RG21 form dl dd.hasHead p > span:first-of-type {
		width: 10rem;
	}
}


/* --------------------------------
	RG30
-------------------------------- */
main.RG30 .mv .status > li.status4 .icon {
	background-color: #BB353F;
}

main.RG30 .mv .status > li.status4 .icon svg {
	fill: #fff;
	stroke: #fff;
}

main.RG30 .mv .status > li.status4 .txt {
	color: #333;
}

main.RG30 .inner {
	padding: 0 2rem;
}


/* --------------------------------
	LG10
-------------------------------- */
main.LG10 form dl dd .note {
	margin-top: 1.5rem;
	text-align: right;
}

main.LG10 form dl dd .note a {
	text-decoration: underline;
}

main.LG10 form .btn {
	margin-top: 7rem;
}

@media (max-width: 768px) {
	main.LG10 form {
		margin-top: 4rem;
	}

	main.LG10 form dl {
		padding-bottom: 0;
		border-bottom: none;
	}

	main.LG10 form dl dd {
		margin-top: 1rem;
	}

	main.LG10 form .btn {
		margin-top: 4rem;
	}
}


/* --------------------------------
	CP10
-------------------------------- */
main.CP10 form dl .formControl .note {
	display: block;
	margin-top: .8rem;
}

main.CP10 form .btn {
	margin-top: 10rem;
}

@media (max-width: 768px) {
	main.CP10 form {
		margin-top: 5rem;
	}

	main.CP10 form dl {
		padding-bottom: 0;
		border-bottom: none;
	}

	main.CP10 form dl dd {
		margin-top: 1rem;
	}

	main.CP10 form .btn {
		margin-top: 4rem;
	}
}


/* --------------------------------
	CP20
-------------------------------- */
main.CP20 form .btn {
	margin-top: 13rem;
}

main.CP20 .alert .box .singleButton.log {
	display: flex;
	font-size: 1.5rem;
	color: #fff;
	background-color: #BB353F;
	transition: .4s;
	border: .2rem solid #BB353F;
}

main.CP20 .alert .box .singleButton.log::before {
	content: "";
	margin-right: .8rem;
}

main.CP20 .alert .box .singleButton.log:hover {
	opacity: 0.65;
}

main.CP20 .alert .box .singleButton.log {
	
}
main.CP20 .alert .box .singleButton.log:hover {
  color: #BB353F;
	background-color: #fff;
	border: .2rem solid #BB353F;
	opacity: 1;
}
main.CP20 .alert .box .singleButton.log::before {
	width: 1.8rem;
	height: 1.8rem;
	background-image: url('data:image/svg+xml;utf8,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.35348 11.6559L9.54682 12.8496L12.2031 10.1934L13.3964 9L12.2031 7.80659L9.54682 5.15039L8.35348 6.34405L10.1659 8.15625H0V9.84375H10.1659L8.35348 11.6559Z" fill="white"/><path d="M16.3125 0H14.625H6.75H5.0625H3.375V1.6875V2.8125V5.625H5.0625H5.625V2.25H15.75V15.75H5.625V12.375H5.0625H3.375V15.1875V16.3125V18H5.0625H6.75H14.625H16.3125H18V16.3125V14.625V3.375V1.6875V0H16.3125Z" fill="white"/></svg>');
	background-size: contain;
	background-repeat: no-repeat;
	transition: .4s;
}
main.CP20 .alert .box .singleButton.log:hover::before {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC4zNTM0OCAxMS42NTU5TDkuNTQ2ODIgMTIuODQ5NkwxMi4yMDMxIDEwLjE5MzRMMTMuMzk2NCA5TDEyLjIwMzEgNy44MDY1OUw5LjU0NjgyIDUuMTUwMzlMOC4zNTM0OCA2LjM0NDA1TDEwLjE2NTkgOC4xNTYyNUgwVjkuODQzNzVIMTAuMTY1OUw4LjM1MzQ4IDExLjY1NTlaIiBmaWxsPSIjQkIzNTNGIi8+PHBhdGggZD0iTTE2LjMxMjUgMEgxNC42MjVINi43NUg1LjA2MjVIMy4zNzVWMS42ODc1VjIuODEyNVY1LjYyNUg1LjA2MjVINS42MjVWMi4yNUgxNS43NVYxNS43NUg1LjYyNVYxMi4zNzVINS4wNjI1SDMuMzc1VjE1LjE4NzVWMTYuMzEyNVYxOEg1LjA2MjVINi43NUgxNC42MjVIMTYuMzEyNUgxOFYxNi4zMTI1VjE0LjYyNVYzLjM3NVYxLjY4NzVWMEgxNi4zMTI1WiIgZmlsbD0iI0JCMzUzRiIvPjwvc3ZnPg==');
}

@media (max-width: 768px) {
	main.CP20 form {
		margin-top: 4rem;
	}

	main.CP20 form dl {
		padding-bottom: 0;
		border-bottom: none;
	}

	main.CP20 form dl dd {
		margin-top: 1rem;
	}

	main.CP20 form .btn {
		margin-top: 4rem;
	}
}